---
title: Northern Archaeological Consultancy
---

<section class="splash-screen" id="splash-screen">
  <div class="container">
    <div class="row">
      <div class="four columns">
        <img class="nav-trigger" src="/images/nac-logo.svg">
      </div>
      <div class="eight columns">
        <div class="header">
          <h1>Northern</h1>
          <h1>Archaeological</h1>
          <h1>Consultancy</h1>
        </div>
      </div>
    </div><!-- end of row -->
  </div><!-- end of container -->
</section><!-- end of section -->

<section class="about-nac" id="about-nac">
  <div class="container">
    <div class="row">
      <div class="three columns">
        <h2>About NAC</h2>
        <p>We are Northern Irelands first home grown and longest running archaeological consultancy. Established in 1997, we have a wealth knowledge and experience in the commercial archaeology sector, working closely with public bodies and private enterprise.
        </p>
      </div>
      <div class="nine columns">
        <ul id="slippry">
          <li>
          <a href="#slide1"><img src="images/about-us.jpg" alt="Inside the Souterrain passage from the A26 Road Scheme, Co Antrim"></a>
          </li>
          <li>
          <a href="#slide2"><img src="images/about-us2.jpg"  alt="Excavation of the Soutterrain from the A26 Road Scheme, Co Antrim"></a>
          </li>
          <li>
          <a href="#slide3"><img src="images/about-us3.jpg" alt="Iron Age Barrows from Dobbies Garden Centre, Lisburn, Co Down"></a>
          </li>
          <li>
          <a href="#slide4"><img src="images/about-us4.jpg" alt="Aerial view of the Souterrain from the A26 Road Scheme, Co Antrim"></a>
          </li>
          <li>
          <a href="#slide5"><img src="images/about-us5.jpg" alt="Fish-shaped Clay pipe bowl from Belfast excavation"></a>
          </li>
        </ul>
      </div>
    </div><!-- end of row -->
  </div><!-- end of container -->
</section><!-- end of section -->

<section class="services" id="services">
  <div class="container">
    <div class="row">
      <div class="three columns">
        <h2>Services</h2>
        <p>Our range of services has been developed to directly support our clients’ ever-increasing need to deliver progressive and innovative developments.</p>
        <p> <a href="/services">See more...</a></p>
      </div>
      <div class="two columns">
        <p></p>
      </div>
      <div class="seven columns">
        <ul>
          <li class="service">
            <h3><%= link_to 'heritage-consultancy', '/services#heritage-consultancy' %></h3>
            <p>We provide BH 3 Archaeological Evaluations &amp; Planning Consultations.</p>
          </li>
          <li class="service">
            <h3><%= link_to 'evaluation and excavation', '/services#evaluation-and-excavation' %></h3>
            <p>Archaeological Mitigation including Watching Briefs &amp; Test Trenching. </p>
          </li>
          <li class="service">
            <h3><%= link_to 'historic buildings survey', '/services#historic-buildings-survey' %></h3>
            <p>Historic and Industrial building surveys which may be required to fulfil planning conditions.</p>
          </li>
          <li class="service">
            <h3><%= link_to 'post excavation analysis reporting', '/services#post-excavation-analysis-reporting' %></h3>
            <p>Post-excavation services, including a variety of artefactual and environmental analyses.</p>
          </li>
          <li class="service">
            <h3><%= link_to 'publications', '/services#publications' %></h3>
            <p>Books, monographs, peer-reviewed journal articles and magazine articles from our vast array of excavations as well as those from third parties.</p>
          </li>
          <li class="service">
            <h3><%= link_to 'public outreach', '/services#public-outreach' %></h3>
            <p>We produce a range of archaeological materials from peer reviewed journals to children's books.</p>
          </li>
        </ul>
      </div>
    </div><!-- end of row -->
  </div><!-- end of container -->
</section><!-- end of section -->

<section class="meet-the-team no-border-bottom" id="meet-the-team">
  <div class="container">
    <div class="row">

      <div class="three columns">
        <h2>Meet the team</h2>
        <p>At the heart of NAC is a highly experienced team of archaeologists. Combined, we have over 100 years of experience in commercial archaeology.</p>
        <p><a href="/meet-the-team">See more...</a></p>
      </div><!-- end of column -->

      <div class="nine columns">
        <div class="row">

          <div class="bio three columns">
            <a href="/meet-the-team#alan-reilly">
              <img src="images/alan_bw.jpg">
              <h4>Alan Reilly</h4>
              <p>Alan graduated from Queens University in 1994, and has worked in the commercial archaeology sector ever since...<span class="arrow"></span></p>
            </a>
          </div>

          <div class="bio three columns">
            <a href="/meet-the-team#stephen-gilmore">
              <img src="images/stephen_bw.jpg">
              <h4>Stephen Gilmore</h4>
              <p>Stephen Gilmore graduated from Queens University in 1990, since graduation he worked as a field archaeologist...<span class="arrow"></span></p>
            </a>
          </div>

          <div class="bio three columns">
            <a href="/meet-the-team#colin-dunlop">
              <img src="images/Colin_bw.jpg">
              <h4>Colin Dunlop</h4>
              <p>Colin has worked as a commercial archaeologist since his graduation from Queens University in 2000 making his way up... <span class="arrow"></span></p>
            </a>
          </div>

          <div class="bio three columns">
            <a href="/meet-the-team#lianne-heaney">
              <img src="images/Lianne_bw.jpg">
              <h4>Lianne Heaney</h4>
              <p>Lianne undertook her undergraduate archaeology degree at Queens University graduating in 2001 and her Masters... <span class="arrow"></span></p>
            </a>
          </div>

        </div><!-- end of row -->
        <div class="row">

          <div class="bio three columns">
            <a href="/meet-the-team#jonathan-barkley">
              <img src="images/jonathon_bw.jpg">
              <h4>Jonathan Barkley</h4>
              <p>Jonathan graduated with a degree in archaeology from Queens University in 2003, and worked as a commercial archaeologist...<span class="arrow"></span></p>
            </a>
          </div>

          <div class="bio three columns">
            <a href="/meet-the-team#sarah-nicol">
              <img src="images/Sarah_bw.jpg">
              <h4>Sarah Nicol</h4>
              <p>Sarah graduated with a degree in archaeology from Bournemouth University in 1999 and has worked on sites in England and the...<span class="arrow"></span></p>
            </a>
          </div>

          <div class="bio three columns">
            <a href="/meet-the-team#ross-bailey">
              <img src="images/Ross_bw.jpg">
              <h4>Ross Bailey</h4>
              <p>Ross graduated with a degree in archaeology from Queens University in 2006. Ross started work with NAC as a field archaeologist...
              <span class="arrow"></span></p>
            </a>
          </div>

        </div><!-- end of inner row -->
      </div><!-- end of outer column -->

    </div><!-- end of outer row -->
  </div><!-- end of container -->
</section><!-- end of section -->

<section class="contact-us no-border-bottom" id="contact-us">
  <div class="container">
    <div class="row">

      <div class="three columns">
        <h2>Contact us</h2>
        <p>If you'd like to work with us or just have a question, please feel free to get in touch.
      </div>
      <div class="two columns">
        <p></p>
      </div>

      <div class="six columns">

        <form id="form" method="post" action="https://formspree.io/info@northarc.co.uk">
          <div class="row">
            <div class="uf-full-width">
              <label>Your email</label>
              <input class="u-full-width" type="email" name="Email" id="Email" placeholder="you@example.com" required/>
            </div>
          </div>
          <label for="Message">Message</label>
          <textarea class="u-full-width" placeholder="Type your message here…" name="message" id="Message"></textarea>
          <input class="button-primary custom" type="submit" value="Submit">
					<input type="hidden" name="_next" value="http://northarc.co.uk" />
        </form>

      </div><!-- end of six columns -->
    </div><!-- end of outer row -->
  </div><!-- end of container -->
</section><!-- end of section -->
