---
title: Meet the Team
---

%section.subpage-header#subpage-header
  .container
    .row
      .eight.columns
        .header
          %h1 Meet the Team

%section#alan-reilly
  .container
    .row
      .twelve.columns
        %h3 Alan Reilly
        .row
          .six.columns
            %p Alan graduated from Queens University in 1994, and has worked in the commercial archaeology sector ever since, he was a co-founder of NAC and specialises in all aspects of archaeological impact assessment work before, during and after the planning process. 
            %p Alan is a member of the Institute of Archaeologists of Ireland and holds an IOSH certificate in Approved Safety for Senior Executives.
          .offset-by-two.four.columns
            = image_tag("Alan_Reilly.jpg", style: "width: 100%")

%section#stephen-gilmore
  .container
    .row
      .twelve.columns
        %h3 Stephen Gilmore
        .row
          .six.columns
            %p Stephen graduated from Queens University in 1990, since graduation he worked as a field archaeologist in commercial archaeology, moving up the ranks to become a site director, he was a co-founder of NAC in 1997.
            %p Stephen is our Health and Safety Officer, ensuring our team and our sites are safe at all times. Stephen is a member of the Chartered Institute of Field Archaeologists, the Institute of Archaeologists of Ireland and holds an IOSH certificate in Managing Safely in Construction.
          .offset-by-two.four.columns
            = image_tag("Stephen_Gilmore.jpg", style: "width: 100%")

%section#colin-dunlop
  .container
    .row
      .twelve.columns
        %h3 Colin Dunlop
        .row
          .six.columns
            %p Colin has worked as a commercial archaeologist since his graduation from Queens University in 2000, making his way up from a field archaeologist to Project Manager, in 2014 he became an Executive Director of NAC.
            %p Colin oversees all our large infrastructure projects as well as running our post-excavation department, including our publication work. Colin is a member of the Institute of Archaeologists of Ireland and holds an IOSH certificate in Managing Safely in Construction.
          .offset-by-two.four.columns
            = image_tag("Colin_Dunlop.jpg", style: "width: 100%")

%section#lianne-heaney
  .container
    .row
      .twelve.columns
        %h3 Lianne Heaney
        .row
          .six.columns
            %p Lianne undertook her undergraduate archaeology degree at Queens University graduating in 2001 and her Masters degree at University of Ulster Coleraine graduating in 2002. She has worked in commercial archaeology since graduation, moving up from field archaeologist to site director. 
            %p In 2009 Lianne became the office manager and oversees all aspects of the company administration. Lianne is a member of the Institute of Archaeologists of Ireland and an affiliate of the Chartered Institute of Field Archaeologists.
          .offset-by-two.four.columns
            = image_tag("Lianne_Heaney.jpg", style: "width: 100%")

%section#jonathan-barkley
  .container
    .row
      .twelve.columns
        %h3 Jonathan Barkley
        .row
          .six.columns
            %p Jonathan graduated with a degree in archaeology from Queens University in 2003, and worked as a commercial archaeologist since graduation. He has been a site director since 2007, and directed some of our biggest excavations. 
            %p Jonathan is a ceramic specialist in post-medieval ceramics and is heavily involved with our newly emerging publication department.
          .offset-by-two.four.columns
            = image_tag("Jonathan_Barkley.jpg", style: "width: 100%")

%section#sarah-nicol
  .container
    .row
      .twelve.columns
        %h3 Sarah Nicol
        .row
          .six.columns
            %p Sarah graduated with a degree in archaeology from Bournemouth University in 1999 and has worked on sites in England and the Republic of Ireland before joining NAC in 2002, she became a site director in 2003 and has been involved in some of our biggest excavations. 
            %p Sarah is an affiliate of the Chartered Institute of Field Archaeologists.
          .offset-by-two.four.columns
            = image_tag("Sarah_Nicol.jpg", style: "width: 100%")

%section#ross-bailey
  .container
    .row
      .twelve.columns
        %h3 Ross Bailey
        .row
          .six.columns
            %p Ross graduated with a degree in archaeology from Queens University in 2006. 
            %p Ross started work with NAC as a field archaeologist but is now involved with many aspects of the company, he works on the archaeological impact assessment team and is also our surveyor and digital illustrator.
          .offset-by-two.four.columns
            = image_tag("Ross_Bailey.jpg", style: "width: 100%")
